<!-- here we are going to set the boilerplate HTML for every page of our application -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NeoLibrary</title>
</head>
<body>
    Before the content
    <br>
    <%- body %> 
    <br>
    After the content
</body>
</html>